<div id="content">
	This is in the index page.
	<form action="home/results">
	  URL1:<input type="text" name="url1" size=40><br />
	  URL2:<input type="text" name="url2" size=40><br />
	  <input type="submit">
	</form>
</div>