<div id="content">
	This is in the index page.
	<form action="home/results">
	  URL1:<input type="text" name="url1" size="200" value="http://www.sec.gov/Archives/edgar/data/1486800/000148680011000012/form10q.htm" /><br />
	  URL2:<input type="text" name="url2" size="200" value="http://www.sec.gov/Archives/edgar/data/1486800/000148680011000035/form10q.htm"/><br />
	  <input type="submit">
	</form>
</div>